*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://s3.amazonaws.com/accsoftwarebootcamp.com/gradientVertical.png");
    background-repeat: repeat-y;
}
#theDiv{
    width:75%;
}
#theDiv h1{
    background-color: pink;
    margin: auto;
    width: 75vw;
    height: 150px;
}
#theDiv p{
    border: 5px dashed green;
    margin: 20px;
    padding: 20px 50px;
}
a{
    text-decoration: none;
}
 a[href="https://statesman.com/"]{
    display: block;
}
h1:nth-child(2){
    text-transform: uppercase;
}
