body{
    margin:0;
    padding:0;
}
.container{
    display: flex;
    background-color: darkblue;
    /* flex-direction: column; */
    justify-content: center;
}
.container > div{
    color: #222;
    background-color: skyblue;
    margin: 20px 10px;
    padding: 10px;
    text-align: center;
}
